
@font-face {
  font-family: 'Header';
  src: url('../fonts/windsor_regular-webfont.woff2') format('woff2'),
       url('../fonts/windsor_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  background: url(../img/tomato.jpg);
  background-size: 40%;
}

.container {
  margin: 50px 200px;
  padding: 25px 50px;
  height: 1500px;
  background: white;

}

#entry {
  margin-top: 100px;
}

h1{
  font-family: "Header", serif;
  font-size: 80px;
  text-align: center;
}

h2{
  font-family: "Header", serif;
  font-size: 20px;
}

/*FORM STYLING*/

button{
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
}

button:hover{
  background-color: black;
  color: white;
}


input {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 20px;

  padding: 10px 10px 15px 10px;
  border-radius: 20px;
}


input:focus {
  background-color: black;
  color: white;
  border-radius: 20px;
}


/*TABLE STYLING*/
table {
  border-collapse: collapse;
  width: 100%
  /*border: solid;*/
}

thead {
  background-color: lightblue;

}

td, th {
  border: .5px solid;
  padding: 10px;
}
tr {
  border: .5px solid blue;
  height: 50px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

td:first-child, th:first-child { /*title*/
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}

td:nth-child(2){ /*released year*/
  text-align: center;

}

td:nth-child(3){ /*studio*/
  text-align: center;
}


td:nth-child(4){/*Budget*/
  text-align: right;
}

td:nth-last-child(2){ /*gross*/

  text-align: right;
}

td:last-child {
  text-align: center;
}

th {

  padding-left: 5px;
}

td {
  padding-left: 5px;
}
/*END OF TABLE STYING*/
